{% extends 'mnist/base.html' %}

{% block content %}
<form action="" method="POST" enctype='multipart/form-data'>
<canvas id="canvas" width="140" height="140"></canvas>
<hr>
<input type="hidden" name="img-src" value="" id="img-src">
<input type="button" class="btn btn-outline-primary btn-lg" id="send" value="送信する">
{% csrf_token %}
</form>
{% endblock %}

{% block extrajs %}
<script>
// キャンバスを操作するためのオブジェクトを取得
var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");

// キャンバスを黒く塗りつぶす
ctx.fillStyle = '#000';
ctx.fillRect(0, 0, 140, 140);

ctx.lineCap = 'square';  // 四角い形の線
ctx.strokeStyle = '#fff';  // 白い線
ctx.lineWidth = 13;  // 線の幅
var draw = false;  // クリック中かのフラグ

// マウスが動いたときに呼び出される
canvas.addEventListener("mousemove",function(e) {
  var rect = e.target.getBoundingClientRect();
  mouseX = e.clientX - rect.left;
  mouseY = e.clientY - rect.top;

  if(draw) {
    ctx.beginPath();
    ctx.moveTo(mouseX1,mouseY1);
    ctx.lineTo(mouseX,mouseY);
    ctx.stroke();
    mouseX1 = mouseX;
    mouseY1 = mouseY;
  }
});

// クリックで呼び出される
canvas.addEventListener("mousedown",function(e) {
  draw = true;
  mouseX1 = mouseX;
  mouseY1 = mouseY;
});

// クリックを離されると呼び出される
canvas.addEventListener("mouseup", function(e){
  draw = false;
});


// 送信ボタンで呼び出される
$('#send').on('click',function(e){
    var form = $(this).parents('form');
    var src = canvas.toDataURL('image/png');
    $('#img-src').val(src);
    form.submit();
});
</script>
{% endblock %}